In [1]:
print (hello world)

SyntaxError: invalid syntax (<ipython-input-1-894a7da163fa>, line 1)

In [2]:
print ("hello world")

hello world

In [3]:
print ("i am Azam")

i am Azam

In [4]:
print ("i am learning AI")

i am learning AI

In [5]:
print ("learning AI from Sir syed University")

learning AI from Sir syed University

In [6]:
print ("my name is 'Azam'")

my name is 'Azam'

In [7]:
name ="Azam"

In [8]:
print (name)

Azam

In [9]:
print ("My name is "+name)

My name is Azam

In [10]:
print ('My name is ',name)

My name is  Azam

In [11]:
(f_name Abdul qadir)
print ("My name is "+name f_name)

SyntaxError: invalid syntax (<ipython-input-11-c88675885717>, line 1)

In [12]:
f_name "Abdul qadir"
print ("My name is",name,f_name)

SyntaxError: invalid syntax (<ipython-input-12-a9cda3d25664>, line 1)

In [13]:
f_name = "Abdul qadir"
print ("My name is",name,f_name)

My name is Azam Abdul qadir

In [14]:
print ("name",f_name)

name Abdul qadir

In [15]:
print = 1234

In [16]:
print (number)

NameError: name 'number' is not defined

In [17]:
print =1234

In [18]:
number =1234

In [19]:
print (number)

TypeError: 'int' object is not callable

In [20]:
number = "1234"

In [21]:
print (number)

TypeError: 'int' object is not callable

In [22]:
name = "Azam"
f_name= "Abdul qadir"
full_name = name + " " +f_name

In [23]:
ame = "Azam"
f_name= "Abdulqadir"
full_name = name + " " +f_name

In [24]:
print (full_name)

TypeError: 'int' object is not callable

In [25]:
full name

SyntaxError: invalid syntax (<ipython-input-25-6131ec66601f>, line 1)

In [26]:
full_name

'Azam Abdulqadir'

In [27]:
number

'1234'

In [28]:
num_1 = 30
num_2 = 40
num_3 = num_1 + num_2

In [29]:
num 3

SyntaxError: invalid syntax (<ipython-input-29-a085efcdf857>, line 1)

In [30]:
num_3

70

In [31]:
 print (name)

TypeError: 'int' object is not callable

In [32]:
print = (name)

In [33]:
print name

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(name)? (<ipython-input-33-101dadbc83c5>, line 1)

In [34]:
print (name)

TypeError: 'str' object is not callable

In [35]:
name = Azam

NameError: name 'Azam' is not defined

In [36]:
full_name

'Azam Abdulqadir'

In [37]:
print (full_name)

TypeError: 'str' object is not callable

In [38]:
print (name)

TypeError: 'str' object is not callable

In [1]:
print (name)

NameError: name 'name' is not defined

In [2]:
print(name)

NameError: name 'name' is not defined

In [3]:
name

NameError: name 'name' is not defined

In [4]:
name = "azam"

In [5]:
print (name)

azam

In [6]:
print (full_name)

NameError: name 'full_name' is not defined

In [7]:
name = "Azam"
f_name= "Abdul qadir"
full_name = name + " " +f_name

In [8]:
print (full_name)

Azam Abdul qadir

In [9]:
name = "Azam"
f_name= "Abdul qadir"
full_name = name +f_name

In [10]:
print (full_name)

AzamAbdul qadir

In [11]:
num_1 = 30
num_2 = 40

In [12]:
print (num_1 - num-2)

NameError: name 'num' is not defined

In [13]:
num_1 = 50

In [14]:
num_1 = "25"
num_2 = "50"
num_3 = "5"

In [15]:
print (num_1,num_2,num_3)

25 50 5

In [16]:
print (num_1 + num_2 )- num_3)

SyntaxError: unmatched ')' (<ipython-input-16-67c63be60710>, line 1)

In [17]:
(num_1 + num_2 - num_3)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
print (num_1 + num_2 - num_3)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [19]:
print num_1
num-2
num-3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(num_1)? (<ipython-input-19-66fe32237a70>, line 1)

In [20]:
num_1

'25'

In [21]:
nun = 14 % 3

In [22]:
nun

2

In [25]:
nun = 14 // 3

In [26]:
nun

4

In [33]:
nun = nun + 3
nun

14

In [36]:
nun + =
nun

SyntaxError: invalid syntax (<ipython-input-36-b92b7ab6785b>, line 1)

In [29]:
num *

SyntaxError: invalid syntax (<ipython-input-29-e332c35cda80>, line 1)

In [30]:
nun += 4

In [31]:
nun

11

In [38]:
total_cost = ((1 + 3) * (4 / 2))
total_cost

8.0

In [39]:
print ("The sum of 2 plus 2 is " + str(num))

The sum of 2 plus 2 is 4